<body class="body1">
<div class="container1">
    <div class="input-suggestion">
        <b>
            <h1>SELECT YOUR SKILLS,BUDDY </h1>
        </b>
        <input list="skills" placeholder="select your skills">
        <datalist id="skills">
            <option value="ANGULAR"></option>
            <option value=".NET"></option>
            <option value="ASP.NET"></option>
            <option value="ADO>NET"></option>
            <option value="MYSQL"></option>
            <option value="ANGULAR"></option>
            <option value=".NET"></option>
            <option value="ASP.NET"></option>
            <option value="ADO>NET"></option>
        </datalist>
    </div>
</div>
</body>

<div>

  <body>

 
    <div class="main">
        <section class="skill content-card">
            <div class="title">
                <h1>My Skill</h1>
            </div>
            <ul class="skills-list">
                <li class="skills-item">
                    <div class="title-wrapper">
                        <h3>React Js</h3>
                        <data value="80">80%</data>
                    </div>
                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: 80%;"></div>
                    </div>
                </li>
                <li class="skills-item">
                    <div class="title-wrapper">
                        <h3>Html</h3>
                        <data value="60">60%</data>
                    </div>
                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: 60%;"></div>
                    </div>
                </li>
                <li class="skills-item">
                    <div class="title-wrapper">
                        <h3>CSS</h3>
                        <data value="90">90%</data>
                    </div>
                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: 90%;"></div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
 
    <div>
        <div class="container" align-items-center="">
          <div class="row">
            <div class="col-6">
              <h1 class="mb-3">YOUR SOLUTION FOR COMMUNITY!</h1>
              <p class="mb-3">Basics to understand the html,css,js,ts,bootstarp,next level .net,asp.net.ado.net next level databases</p>
              <a href="#" class="btn btn-primary">ABOUT</a>
            </div>
            <div class="col-6">
                <div>
                    <img width="100%" src="../assets/compp.jpeg" alt="">
                </div>
            </div>
          </div>
           
        </div>
    </div>
</body>